@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Return from Signing</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class=" article">
                    <div class="inner cover">
                        <h1 class="cover-heading">You have now returned from DocuSign session.  The status is: @ViewBag.Status </h1>
                        <h1 class="cover-heading">
                            Ready to start exploring the most feature rich eSignature API in the world?
                        </h1>
                        <ul>
                            <li>Request legally binding signatures on any type of document</li>
                            <li>Initiate signing sessions</li>
                            <li>Track documents in real-time</li>
                            <li>Retrieve signed documents</li>
                            <li>Embed DocuSign into websites and apps</li>
                        </ul>

                        <p class="lead"> Continued here: <a href="http://www.docusign.com/devcenter">http://www.docusign.net/devcenter</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
